<div class="grid">
  <div class="ui card" *ngFor="let times of [].constructor(4)">
    <div class="image">
      <div class="ui placeholder">
        <div class="square image"></div>
      </div>
    </div>
    <div class="content">
      <div class="ui placeholder">
        <div class="header">
          <div class="very short line"></div>
          <div class="medium line"></div>
        </div>
        <div class="paragraph">
          <div class="short line"></div>
          <div class="medium line"></div>
          <div class="short line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
