<div class="ui dimmer visible active" (click)="closeModal()">
  <div class="ui basic modal visible active">
    <div class="ui icon header">
      <i class="trash icon"></i>
      Are you sure you want to delete this shoe?
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button" (click)="closeModal()">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted button" (click)="deleteShoe()">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>
