<div class="ui container">
  <div class="ui breadcrumb">
    <div class="section active">Home</div>
  </div>
  <div class="cards">
    <div class="card" routerLink="/woman">
      <div class="ui header">
        <img src="../../../assets/svg/woman.svg" />
        <p>Woman</p>
      </div>
    </div>
    <div class="card" routerLink="/man">
      <div class="ui header">
        <img src="../../../assets/svg/man.svg" />
        <p>Man</p>
      </div>
    </div>
    <div class="card" routerLink="/children">
      <div class="ui header">
        <img src="../../../assets/svg/kid.svg" />
        <p>Children</p>
      </div>
    </div>
  </div>
</div>
